@charset "utf-8";
*{margin: 0px; padding: 0px; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none;}

/* popup 영역 */
.wrap{
    width: 100%;
    /* 높이값은 슬라이드 생김새도 영향을 받고(지금은 페이드인아웃이라 상관없는데
    위아래 방향으로 움직이는건 overflow hidden으로 숨긴거라 높이값이 커져서)
     고려해야하는 사항이 좀 있음,,,
    지금의 경우 높이값을 아예 안주는 것도 방법 or 전체 컨텐츠 높이값 더하는 등..
    vh줘도 크게 상관없을듯 */
    position: relative;
}
.wrap .popupWrap{
    width: 100%; height: 100%;
    position: absolute;
    top: 0px; left: 0px;
    z-index: 9;
    background-color: rgba(0,0,0,0.4);
    display: none;
}
.popup{
    /* display: none; */
    /* 모달 팝업에서는 aside태그에 display none을 줄 필요가 없음 */
    width: 500px;
    background-color: #f8f8f8;
    border: 2px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    z-index: 10;
    padding-bottom: 50px;
}

.popup h2{
    font: bold 27px/1 "맑은 고딕";
    text-align: left;
    border-bottom: 1px solid #000;
    padding: 10px;
    color: #666;
}
.popup p{
    font: normal 18px/1.5 "맑은 고딕";
    color: #666;
    padding: 10px;
}
.popup button{
    width: 100px;
    height: 30px;
    font: bold 14px/1 "맑은 고딕";
    color: #333;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

/* header 영역 */
header{
    width: 100%;
    /* background-color: #111; */
}
header .inner{
    width: 1340px;
    margin: 0 auto;
    /* background-color: #ccc; */
    height: 100px;
    position: relative;
    border: 1px solid #000;
}
header .inner h1{
    width: 250px;
    height: 100%;
    border-right: 1px dotted #000;
    position: relative;
}
header .inner h1 a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    max-width: 50px;
}
header .inner h1 a img{
    width: 100%;
}
header .inner #gnb{
    width: 600px;
    position: absolute;
    bottom: 0px;
    right: 30px;
    display: flex;
    z-index: 5;
}
header .inner #gnb >li >a{
    display: block;
    width: 150px;
    height: 50px;
    font: bold 20px/50px "맑은 고딕";
    color: #666;
    text-align: center;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
header .inner #gnb >li:last-of-type >a{
    border-right: 1px solid #000;
}
header .inner #gnb li:hover >a{
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}
header .inner #gnb >li >ul{
    position: absolute;
    top: 50px;
    display: none;
}
header .inner #gnb >li >ul >li >a{
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    font: 15px/50px "맑은 고딕";
    color: #ccc;
    background-color: rgba(0,0,0,0.5);
}

/* slide 영역 */
#slide{
    width: 100%; height: 350px;
    border: 1px solid #000;
}
#slide .frame{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#slide .frame li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#slide .frame li img{
    width: 100%;
    height: 100%;
}
/* contentBox영역 */
#contentBox{
    width: 100%;
    position: relative;
    margin-top: -100px;
}
#contentBox .inner{
    width: 1340px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #ccc;
}

#contentBox .inner .iconWrap{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px dotted #000;
    margin-top: -0.5px;
}
#contentBox .inner .iconWrap a{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#contentBox .inner .iconWrap a span{
    font: bold 20px/1 "arial"; color: #666;
} 

#contentBox .inner .banner{
    width: 100%;
    height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   gap: 20px;
   border-bottom: 1px dotted #000;
}

#contentBox .inner .board{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
#contentBox .inner .board >div{
    width: 50%;
    height: 100%;
    border: 1px solid #000;
    padding: 20px;
}
#contentBox .inner .board >div .name{
    width: 100px;
    height: 40px;
    border: 1px solid #000; border-bottom: none;
    text-align: center;
    font: 20px/40px '맑은 고딕';
    color: #000;
}
#contentBox .inner .board >div .content{
    width: 100%;
    height: 120px;
    border-top: 2px solid #000;
}

#notice .content ul{
    width: 100%; height: 100%;
    display: flex; 
    justify-content: space-evenly;
    flex-direction: column;
}
#notice .content ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}
#notice .content ul li a{
    font: 14px/20px '맑은 고딕';
    color: #333;
}
#notice .content ul li span{
    font: 12px/20px 'arial'; color: #666;
}

#gallery .content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#gallery .content a{
    display: block;
    width: calc((100% / 3) - 5%);
    height: 70%;
    border: 1px solid #000;
}
#gallery .content a img{
    width: 100%;
    height: 100%;
}
#gallery .content a span{
    font: 14px/1 'arial'; color: #333;
}

/* footer 영역 */
footer{
    width: 100%;
    height: 120px;
}
footer .inner{
    width: 1340px; margin: 0 auto;
    height: 100%;
    border: 1px solid #000;
    display: flex;
}
footer .inner .copyright{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font: bold 15px/1 'arial'; color: #333;
}
footer .inner .footerWrap{
    width: 20%;
    height: 100%;
}
footer .inner .footerWrap .sns{
    width: 100%; height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px dotted #000;
    border-bottom: 1px dotted #000;
}
footer .inner .footerWrap .familySite{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px dotted #000;
}