@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

body {
	background-color: #fff;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.wrap {
	width: 1200px;
	height: 360px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #666;
	h1 {
		position: absolute;
		left: 0px;
		top: -100px;
	}
	.ft1 {
		position: absolute;
		bottom: -30px;
		left: -57px;
	}
	.ft2 {
		position: absolute;
		bottom: -30px;
		right: 0px;
	}
	.tab {
		width: 100%;
		height: 100%;
		position: relative;
		.left {
			width: 320px;
			height: 100%;
			background-color: #222;
			position: absolute;
			top: 0px;
			left: 0px;
			padding: 40px 30px;
			h2 {
				font: bold 14px/1 'Aldrich';
				color: #fff;
				margin-bottom: 40px;
			}
			.navi {
				width: 100%;
				li {
					a {
						display: block;
						padding: 12px 8px;
						border-bottom: 1px solid #333;
						font: 12px/1 'Aldrich';
						color: #bbb;
						transition: all 0.5s;
						&.on {
							color: orange;
							padding: 12px 30px;
							background-color: #000;
						}
					}
				}
			}
		}
		.box {
			width: 880px;
			height: 100%;
			background-color: #fff;
			position: absolute;
			top: 0px;
			right: 0px;
			display: none;
			&.on {
				display: block;
				h2 {
					opacity: 1;
					left: 100px;
				}
				p {
					opacity: 1;
					left: 100px;
				}
				h3 {
					opacity: 0.1;
					right: 0px;
				}
			}
			h2 {
				font: 80px/1 'Aldrich';
				color: #111;
				position: absolute;
				top: 100px;
				left: 0px;
				letter-spacing: 5px;
				transition: all 1s;
				opacity: 0;
				z-index: 5;
			}
			p {
				font: bold 16px/1.4 'arial';
				color: #aaa;
				position: absolute;
				left: 0px;
				top: 200px;
				letter-spacing: 2px;
				transition: all 1.5s;
				opacity: 0;
			}
			h3 {
				font: bold 250px/1 'Aldrich';
				color: #999;
				position: absolute;
				bottom: -25px;
				right: -100px;
				letter-spacing: -10px;
				z-index: 0;
				transition: all 2.5s;
				opacity: 0;
			}
		}
		#tab1 {
			background-color: #f7fbd9;
			img {
				position: absolute;
				bottom: -22px;
				right: -152px;
				transform: rotate(-70deg);
				opacity: 0;
				transition: all 2s;
			}
			&.on {
				img {
					opacity: 1;
					transform: rotate(0deg);
				}
			}
		}
		#tab2 {
			background-color: #fbf6ca;
			img {
				position: absolute;
				bottom: 15px;
				right: -100px;
				transform: rotate(90deg) scale(1.5);
				transition: all 2.5s;
				opacity: 0;
			}
			&.on {
				img {
					opacity: 1;
					transform: rotate(0deg) scale(1);
				}
			}
		}
		#tab3 {
			background-color: #ffecf2;
			img {
				position: absolute;
				bottom: 15px;
				right: -90px;
				transform: rotate(-90deg);
				transition: all 2s;
				opacity: 0;
			}
			&.on {
				img {
					opacity: 1;
					transform: rotate(0deg);
				}
			}
		}
		#tab4 {
			background-color: #ecf9ff;
			img {
				position: absolute;
				bottom: 0px;
				right: 50px;
				opacity: 0;
				transition: all 2s;
			}
			&.on {
				img {
					opacity: 1;
					right: -95px;
				}
			}
		}
	}
}
