* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #e3f2fd;
}

.editor {
	width: 850px;
	background-color: #fff;
	border-radius: 10px;
	padding: 30px 35px 35px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	&.disable {
		.editorPanel {
			opacity: 0.6;
			pointer-events: none;
		}
		.reset {
			opacity: 0.6;
			pointer-events: none;
		}
		.saveImg {
			opacity: 0.6;
			pointer-events: none;
		}
	}

	h1 {
		font: bold 22px/1 'arial';
	}
	.inner {
		display: flex;
		min-height: 335px;
		margin: 20px 0px;
		gap: 20px;
		.editorPanel {
			width: 280px;
			padding: 15px 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
			button {
				height: 40px;
				font-size: 14px;
				color: #6c757d;
				border: 1px solid #aaa;
				border-radius: 3px;
				background-color: #fff;
				margin-bottom: 8px;
				cursor: pointer;
			}
			.filter {
				.title {
					display: block;
					font: bold 16px/1 'arial';
					margin-bottom: 12px;
				}
				.options {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					button {
						width: calc(100% / 2 - 4px);
						&.on {
							background-color: #5372f0;
							border-color: #5372f0;
							color: #fff;
						}
						&:hover {
							background-color: #111;
							border: 1px solid #111;
							color: #fff;
						}
					}
				}
				.info {
					margin-top: 12px;
					.filterInfo {
						display: flex;
						justify-content: space-between;
						p {
							font: 300 15px/1 'arial';
							color: #333;
						}
					}
					input {
						width: 100%;
						height: 5px;
						accent-color: #5372f0;
					}
				}
			}
			.rotate {
				margin-top: 17px;
				.title {
					display: block;
					font: bold 16px/1 'arial';
					color: #333;
					margin-bottom: 12px;
				}
				.options {
					display: flex;
					justify-content: space-between;
					button {
						width: calc(100% / 4 - 3px);
					}
				}
			}
		}
		.previewImg {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
			// 첨부되는 이미지 크기에 맞춰서 박스 사이즈가 조정되게끔 함
			img {
				max-width: 490px;
				max-height: 335px;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
	.controls {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		button {
			padding: 11px 20px;
			font-size: 14px;
			border-radius: 3px;
			cursor: pointer;
			color: #fff;
		}
		.reset {
			border: 1px solid #6c757d;
			background-color: #fff;
			color: #6c757d;
		}
		.rowBtn {
			.chooseImg {
				background-color: #6c757d;
				border: 1px solid #6c757d;
			}
			.saveImg {
				background-color: #5372f0;
				border: 1px solid #5372f0;
			}
		}
	}
}

@media screen and (max-width: 1179px) {
	.editor {
		padding: 25px;
		.inner {
			flex-wrap: wrap-reverse;
			// 배치를 손쉽게 바꿀 수 있음!!!
			.editorPanel {
				width: 100%;
			}
			.previewImg {
				width: 100%;
			}
		}
	}
}
