@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

figure {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 13vh 7vw 8vh;
  overflow: hidden;
}
figure .btnUp {
  display: block;
  width: 61px;
  height: 50px;
  position: absolute;
  right: 7vw;
  bottom: calc(8vh + 100px);
  margin-right: -60px;
  transform: scale(0.8);
  z-index: 3;
}
figure .btnUp::before, figure .btnUp::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: #333;
  position: absolute;
  top: 0px;
  left: 50%;
  transform-origin: center top;
  transition: 0.5s 0.2s;
}
figure .btnUp::before {
  transform: rotate(45deg);
}
figure .btnUp::after {
  transform: rotate(-45deg);
}
figure .btnUp span {
  display: block;
  width: 1px;
  height: 40px;
  background-color: #333;
  position: absolute;
  top: 0px;
  left: 50%;
  transition: 0.5s;
}
figure .btnUp em {
  font: 12px/1 "anton";
  color: #111;
  text-align: center;
  letter-spacing: 2px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  opacity: 0;
}
figure .btnUp:hover::before {
  opacity: 0;
  transform: rotate(45deg) translateY(-40px);
}
figure .btnUp:hover::after {
  opacity: 0;
  transform: rotate(-45deg) translateY(-40px);
}
figure .btnUp:hover span {
  opacity: 0;
  transform: translateY(-40px);
}
figure .btnUp:hover em {
  top: 50%;
  opacity: 1;
}
figure .btnDown {
  display: block;
  width: 61px;
  height: 50px;
  position: absolute;
  right: 7vw;
  bottom: 8vh;
  margin-right: -60px;
  transform: scale(0.8);
  z-index: 3;
}
figure .btnDown::before, figure .btnDown::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: #333;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform-origin: center bottom;
  transition: 0.5s 0.2s;
}
figure .btnDown::before {
  transform: rotate(-45deg);
}
figure .btnDown::after {
  transform: rotate(45deg);
}
figure .btnDown span {
  display: block;
  width: 1px;
  height: 40px;
  background-color: #333;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transition: 0.5s;
}
figure .btnDown em {
  font: 12px/1 "anton";
  color: #111;
  text-align: center;
  letter-spacing: 2px;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  opacity: 0;
}
figure .btnDown:hover::before {
  opacity: 0;
  transform: rotate(-45deg) translateY(40px);
}
figure .btnDown:hover:after {
  opacity: 0;
  transform: rotate(45deg) translateY(40px);
}
figure .btnDown:hover span {
  opacity: 0;
  transform: translateY(40px);
}
figure .btnDown:hover em {
  top: 50%;
  opacity: 1;
}
figure .panel {
  width: 100%;
  height: 100%;
  position: relative;
}
figure .panel li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
figure .panel li .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: 9999999px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.8s;
  opacity: 0;
}
figure .panel li .bg .shadow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;
  background-position: center;
  margin-top: 40px;
  transform: scale(0.95);
  filter: blur(20px);
  opacity: 0.7;
  z-index: 1;
}
figure .panel li .bg::before, figure .panel li .bg:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: inherit;
  background-repeat: inherit;
  background-size: inherit;
  background-position: center;
  z-index: 2;
  transition: margin-top 0.6s;
}
figure .panel li .bg::before {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  margin-top: -100px;
}
figure .panel li .bg:after {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  margin-top: 100px;
}
figure .panel li .txt {
  position: absolute;
  top: 50%;
  left: 6vw;
  transform: translateY(-50%);
  opacity: 0;
}
figure .panel li .txt h2 {
  font: normal 7vw/1 "anton";
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  gap: 3px;
  position: relative;
  padding-bottom: 10px;
}
figure .panel li .txt h2::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: 1s 0.5s;
}
figure .panel li .txt h2 span {
  display: inline-block;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
  transform: translateY(120%);
}
figure .panel li nav {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  left: 6vw;
  bottom: 10vh;
  color: #fff;
  transition: 0.5s;
}
figure .panel li nav span {
  display: flex;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  color: #111;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  transform: translateX(50px) rotate(200deg);
  transition: 0.5s 1s;
  opacity: 0;
}
figure .panel li nav strong {
  font-size: 12px;
  letter-spacing: 1px;
  transform: translateX(100px);
  transition: 0.5s 1s;
  opacity: 0;
}
figure .panel li.on {
  z-index: 2;
}
figure .panel li.on .bg {
  opacity: 1;
  background-position: center;
  transform: translateY(0%) rotateX(0deg) scale(1);
}
figure .panel li.on .bg::before, figure .panel li.on .bg::after {
  margin-top: 0px;
}
figure .panel li.on .txt {
  opacity: 1;
}
figure .panel li.on .txt h2:after {
  width: 100%;
}
figure .panel li.on .txt h2 span {
  transform: translateY(0%);
}
figure .panel li.on nav span {
  transform: translateX(0px) rotate(0deg);
  opacity: 1;
}
figure .panel li.on nav strong {
  opacity: 1;
  transform: translateX(0px);
}
figure .panel li.up .bg {
  opacity: 0;
  transform: translateY(-80%) rotateX(-45deg) scale(0.7);
}
figure .panel li.down .bg {
  opacity: 0;
  transform: translateY(80%) rotateX(45deg) scale(0.7);
}

/*# sourceMappingURL=style.css.map */
