.btnUp {
	display: block;
	width: 61px;
	height: 50px;
	position: absolute;
	right: 7vw;
	bottom: calc(8vh + 100px);
	// 100px을 더하는 이유는 down 버튼보다 위에 있게 하기 위해서
	margin-right: -60px;
	transform: scale(0.8);
	z-index: 3;
	&::before,
	&::after {
		content: '';
		display: block;
		width: 1px;
		height: 20px;
		background-color: #333;
		position: absolute;
		top: 0px;
		left: 50%;
		transform-origin: center top;
		transition: 0.5s 0.2s;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
	span {
		display: block;
		width: 1px;
		height: 40px;
		background-color: #333;
		position: absolute;
		top: 0px;
		left: 50%;
		transition: 0.5s;
	}
	em {
		font: 12px/1 'anton';
		color: #111;
		text-align: center;
		letter-spacing: 2px;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		transition: 0.5s;
		opacity: 0;
	}
	&:hover {
		&::before {
			opacity: 0;
			transform: rotate(45deg) translateY(-40px);
		}
		&::after {
			opacity: 0;
			transform: rotate(-45deg) translateY(-40px);
		}
		span {
			opacity: 0;
			transform: translateY(-40px);
		}
		em {
			top: 50%;
			opacity: 1;
		}
	}
}
.btnDown {
	display: block;
	width: 61px;
	height: 50px;
	position: absolute;
	right: 7vw;
	bottom: 8vh;
	margin-right: -60px;
	transform: scale(0.8);
	z-index: 3;
	&::before,
	&::after {
		content: '';
		display: block;
		width: 1px;
		height: 20px;
		background-color: #333;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform-origin: center bottom;
		transition: 0.5s 0.2s;
	}
	&::before {
		transform: rotate(-45deg);
	}
	&::after {
		transform: rotate(45deg);
	}
	span {
		display: block;
		width: 1px;
		height: 40px;
		background-color: #333;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transition: 0.5s;
	}
	em {
		font: 12px/1 'anton';
		color: #111;
		text-align: center;
		letter-spacing: 2px;
		position: absolute;
		top: -100%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 0.5s;
		opacity: 0;
	}
	&:hover {
		&::before {
			opacity: 0;
			transform: rotate(-45deg) translateY(40px);
		}
		&:after {
			opacity: 0;
			transform: rotate(45deg) translateY(40px);
		}
		span {
			opacity: 0;
			transform: translateY(40px);
		}
		em {
			top: 50%;
			opacity: 1;
		}
	}
}
