@charset "utf-8";
*{margin: 0px; padding: 0px; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none; color: #333;}
body{background-color: #fff;}

#main{
    width: 100%;
    display: flex;
    overflow: hidden;
}
#main header{
    width: 200px;
}
#main header h1{
    width: 100%;
    height: 120px;
}
#main header h1 a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#main header nav{
    width: 100%;
    position: relative;
}
#main header nav #gnb{
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#main header nav #gnb >li{
    text-align: center;
    position: relative;
}
#main header nav #gnb >li >a{
    display: block;
    height: 40px;
    font: bold 16px/40px 'arial';
    color: #333;
}
#main header nav #gnb >li >a.on{
    background-color: #333;
    color: #fff;
}
#main header nav #gnb >li >a:hover{
    background-color: #333;
    color: #fff;
}
/*  */
#main header nav #gnb >li .sub{
    position: absolute;
    top: 0px;
    left: 180px;
    display: flex;
    z-index: 6;
}
#main header nav #gnb >li .sub li{
    width: 130px;
    padding: 0 10px;
    text-align: center;
}
#main header nav #gnb >li .sub li a{
    width: 100%;
    height: 40px;
    display: inline-block;
    position: relative;
    font: 500 15px/40px '맑은 고딕';
    color: #333;
}
#main header nav #gnb >li .sub li:hover a{
    background-color: #aaa;
}

#gnbBg{
    width: 100vw;
    height: 160px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 190px;
    z-index: 5;
}

#main header p{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
#main header p a{
    display: block;
    position: relative;
    flex: 1;
    text-align: center;
    font: bold 15px/1 '맑은 고딕';
    text-decoration: underline;
    /* border-right: 1px solid #000; */
}
/* #main header p a:last-of-type{
    border-right: none;
} */
#main header p a:nth-of-type(1)::after{
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #333;
}

#container{
    width: calc(100% - 200px);
}
#container #slide{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
}
#container #slide .slideBox{
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid #333;
    z-index: 4;
}
#container #slide .slideBox ul{
    width: 100%;
    background-color: #eee;
}
#container #slide .slideBox ul li{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
#container #slide .slideBox ul li img{
    width: 100%;
    height: 50px;
}
#container #slide .slideBox ul li a{
    display: block;
    width: 100%;
    /* background-color: #fff; */
    text-align: center;
    font: 14px/1 '맑은 고딕';
    padding: 3px 0px;
    color: #333;
}
#container #slide .frame{
    width: 100%; height: 100%;
    overflow: hidden;
}
#container #slide .frame li{
    position: absolute;
    top: 0px; left: 0px;
}
#container #slide .frame li img{
    width: 100%;
    height: 100%;
}